# Logs
node_modules
dist
dist-ssr
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build & Caches
*.tsbuildinfo
.eslintcache
.vite

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# Temporary
.gemini
tmp

# Electron build artifacts
dist-electron
out
release

# Local utilities
cloc*.exe